In [1]:
import pandas as pd

In [2]:
tracking = pd.read_csv("NFL_Turf/PlayerTrackData.csv")

In [ ]:
tracking.head()

In [43]:
injuries = pd.read_csv("NFL_Turf/injuryrecord.csv")
playlist = pd.read_csv("NFL_Turf/playlist.csv")

In [38]:
playlist.head()

,PlayerKey,GameID,PlayKey,RosterPosition,PlayerDay,PlayerGame,StadiumType,FieldType,Temperature,Weather,PlayType,PlayerGamePlay,Position,PositionGroup
0,26624,26624-1,26624-1-1,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,1,QB,QB
1,26624,26624-1,26624-1-2,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,2,QB,QB
2,26624,26624-1,26624-1-3,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Rush,3,QB,QB
3,26624,26624-1,26624-1-4,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Rush,4,QB,QB
4,26624,26624-1,26624-1-5,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,5,QB,QB

In [ ]:
injuries.head()

In [4]:
inj = injuries.drop(columns=['PlayerKey', 'GameID', 'Surface', 'DM_M1', 'DM_M7', 'DM_M28', 'DM_M42'])

In [ ]:
inj.head()

In [5]:
merged_inj = pd.merge(tracking, inj, how='inner', on = 'PlayKey')

In [39]:
merged_inj.head()

     PlayKey      x      y    dir       o BodyPart Position   Twist
0  31070-3-7  44.07  32.14  23.31  174.83     Knee       RB  151.52
1  31070-3-7  44.08  32.14  20.18  175.09     Knee       RB  154.91
2  31070-3-7  44.08  32.14  16.53  175.35     Knee       RB  158.82
3  31070-3-7  44.08  32.14  13.23  175.60     Knee       RB  162.37
4  31070-3-7  44.08  32.14   9.78  175.82     Knee       RB  166.04

In [7]:
playlist.head()

,PlayerKey,GameID,PlayKey,RosterPosition,PlayerDay,PlayerGame,StadiumType,FieldType,Temperature,Weather,PlayType,PlayerGamePlay,Position,PositionGroup
0,26624,26624-1,26624-1-1,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,1,QB,QB
1,26624,26624-1,26624-1-2,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,2,QB,QB
2,26624,26624-1,26624-1-3,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Rush,3,QB,QB
3,26624,26624-1,26624-1-4,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Rush,4,QB,QB
4,26624,26624-1,26624-1-5,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,5,QB,QB

In [40]:
merged_inj = pd.merge(merged_inj, playlist, how='left', on = 'PlayKey')

In [41]:
merged_inj.head()

,PlayKey,x,y,dir,o,BodyPart,Position_x,Twist,PlayerKey,GameID,...,PlayerDay,PlayerGame,StadiumType,FieldType,Temperature,Weather,PlayType,PlayerGamePlay,Position_y,PositionGroup
0,31070-3-7,44.07,32.14,23.31,174.83,Knee,RB,151.52,31070,31070-3,...,15,3,Outdoor,Natural,89,Sunny,Rush,7,RB,RB
1,31070-3-7,44.08,32.14,20.18,175.09,Knee,RB,154.91,31070,31070-3,...,15,3,Outdoor,Natural,89,Sunny,Rush,7,RB,RB
2,31070-3-7,44.08,32.14,16.53,175.35,Knee,RB,158.82,31070,31070-3,...,15,3,Outdoor,Natural,89,Sunny,Rush,7,RB,RB
3,31070-3-7,44.08,32.14,13.23,175.60,Knee,RB,162.37,31070,31070-3,...,15,3,Outdoor,Natural,89,Sunny,Rush,7,RB,RB
4,31070-3-7,44.08,32.14,9.78,175.82,Knee,RB,166.04,31070,31070-3,...,15,3,Outdoor,Natural,89,Sunny,Rush,7,RB,RB

In [45]:
merged_inj.drop(columns=['event', 'time', 'dis', 's', 'PlayerKey', 'GameID', 'RosterPosition', 'PlayerGame', 'StadiumType',
                'FieldType', 'Temperature', 'Weather', 'PlayType', 'PlayerGamePlay', 'PositionGroup', 'PlayerDay'], inplace=True)
merged_inj['Twist'] = abs(merged_inj.dir - merged_inj.o)
merged_inj.head()

,PlayKey,x,y,dir,o,BodyPart,Position_x,Twist,Position_y
0,31070-3-7,44.07,32.14,23.31,174.83,Knee,RB,151.52,RB
1,31070-3-7,44.08,32.14,20.18,175.09,Knee,RB,154.91,RB
2,31070-3-7,44.08,32.14,16.53,175.35,Knee,RB,158.82,RB
3,31070-3-7,44.08,32.14,13.23,175.60,Knee,RB,162.37,RB
4,31070-3-7,44.08,32.14,9.78,175.82,Knee,RB,166.04,RB

In [50]:
merged_inj = merged_inj.rename(columns={'Position_y': 'Position', 'BodyPart': 'Injury'})[something]

In [51]:
merged_inj.head()

     PlayKey Position Injury      x      y       o    dir   Twist
0  31070-3-7       RB   Knee  44.07  32.14  174.83  23.31  151.52
1  31070-3-7       RB   Knee  44.08  32.14  175.09  20.18  154.91
2  31070-3-7       RB   Knee  44.08  32.14  175.35  16.53  158.82
3  31070-3-7       RB   Knee  44.08  32.14  175.60  13.23  162.37
4  31070-3-7       RB   Knee  44.08  32.14  175.82   9.78  166.04

In [27]:
ngs = pd.read_csv("NFL_Punt/NGS-2016-reg-wk13-17.csv")

# Remove NaN in necessary rows
ngs = ngs.loc[ngs.GameKey.isna() == False]
ngs = ngs.loc[ngs.PlayID.isna() == False]
ngs = ngs.loc[ngs.GSISID.isna() == False]

# Change the GSISID to Int type - it is currently float
ngs.GSISID = ngs.GSISID.astype('int')

# Add the Game_Play and GamePlay with GSISID - this will create a unique identifier for the play by each player
ngs['Game_Play_ID'] = ngs[['GameKey', 'PlayID', 'GSISID']].apply(
    lambda row: '-'.join(row.values.astype(str)), axis=1)

# Create a new column that shows the player's Twist - the difference
# between the angles that the player is running (dir) and face orientation while running (o)
ngs['Twist'] = abs(ngs.dir - ngs.o)

c:\Users\justi\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [28]:
punt = pd.read_csv('NFL_Punt/player_punt_data.csv')

ngs_merge = pd.merge(ngs, punt, how='left', on='GSISID')
ngs_merge

,Season_Year,GameKey,PlayID,GSISID,Time,x,y,dis,o,dir,Event,Game_Play_ID,Twist,Number,Position
0,2016,252,231,30982,2016-12-04 21:11:57.500,46.209999,45.230000,0.03,147.750000,315.339996,NaN,252-231-30982,167.589996,39,CB
1,2016,252,231,30982,2016-12-04 21:11:57.500,46.209999,45.230000,0.03,147.750000,315.339996,NaN,252-231-30982,167.589996,47,CB
2,2016,252,231,30982,2016-12-04 21:11:57.500,46.209999,45.230000,0.03,147.750000,315.339996,NaN,252-231-30982,167.589996,38,CB
3,2016,252,231,32070,2016-12-04 21:11:57.800,46.259998,24.850000,0.08,206.080002,264.890015,NaN,252-231-32070,58.810013,13,WR
4,2016,252,231,30084,2016-12-04 21:11:57.800,45.740002,7.090000,0.05,153.160004,69.709999,NaN,252-231-30084,83.450005,36,SS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10660176,2016,244,2263,31570,2016-12-04 19:51:16.200,63.680000,34.520000,0.03,96.599998,162.630005,NaN,244-2263-31570,66.030006,14,WR
10660177,2016,244,2263,31570,2016-12-04 19:51:16.200,63.680000,34.520000,0.03,96.599998,162.630005,NaN,244-2263-31570,66.030006,16,WR
10660178,2016,244,2263,32599,2016-12-04 19:51:16.200,62.270000,28.709999,0.00,288.359985,280.600006,NaN,244-2263-32599,7.759979,82,TE
10660179,2016,244,2263,32596,2016-12-04 19:51:16.200,60.930000,28.980000,0.04,358.690002,36.840000,NaN,244-2263-32596,321.850002,34,CB
10660180,2016,244,2263,24535,2016-12-04 19:51:16.200,23.020000,29.530001,0.06,3.930000,96.279999,NaN,244-2263-24535,92.349999,14,WR

In [29]:
ngs_merge.drop(columns=['Season_Year', 'GameKey', 'PlayID', 'GSISID', 'Time', 'dis', 'Event', 'Number'], inplace=True)

In [30]:
ngs_merge.head()

,x,y,o,dir,Game_Play_ID,Twist,Position
0,46.209999,45.23,147.750000,315.339996,252-231-30982,167.589996,CB
1,46.209999,45.23,147.750000,315.339996,252-231-30982,167.589996,CB
2,46.209999,45.23,147.750000,315.339996,252-231-30982,167.589996,CB
3,46.259998,24.85,206.080002,264.890015,252-231-32070,58.810013,WR
4,45.740002,7.09,153.160004,69.709999,252-231-30084,83.450005,SS

In [33]:
ngs_merge['Injury'] = 'Concussion'
ngs_merge.head()

,x,y,o,dir,Game_Play_ID,Twist,Position,Injury
0,46.209999,45.23,147.750000,315.339996,252-231-30982,167.589996,CB,Concussion
1,46.209999,45.23,147.750000,315.339996,252-231-30982,167.589996,CB,Concussion
2,46.209999,45.23,147.750000,315.339996,252-231-30982,167.589996,CB,Concussion
3,46.259998,24.85,206.080002,264.890015,252-231-32070,58.810013,WR,Concussion
4,45.740002,7.09,153.160004,69.709999,252-231-30084,83.450005,SS,Concussion

In [ ]:
# columns1 = ["PlayID", 'Injury', 'x', 'y', 'o', 'dir', 'Twist']
# columns2 = ["Game_Play_ID", 'Injury', 'x', 'y', 'o', 'dir', 'Twist']

In [34]:
something = ['PlayKey', 'Position', 'Injury', 'x', 'y', 'o', 'dir', 'Twist']

In [35]:
ngs_merge = ngs_merge.rename(columns={'Game_Play_ID': 'PlayKey'})[something]

In [37]:
ngs_merge.head()

,PlayKey,Position,Injury,x,y,o,dir,Twist
0,252-231-30982,CB,Concussion,46.209999,45.23,147.750000,315.339996,167.589996
1,252-231-30982,CB,Concussion,46.209999,45.23,147.750000,315.339996,167.589996
2,252-231-30982,CB,Concussion,46.209999,45.23,147.750000,315.339996,167.589996
3,252-231-32070,WR,Concussion,46.259998,24.85,206.080002,264.890015,58.810013
4,252-231-30084,SS,Concussion,45.740002,7.09,153.160004,69.709999,83.450005

In [52]:
merged_inj.head()

     PlayKey Position Injury      x      y       o    dir   Twist
0  31070-3-7       RB   Knee  44.07  32.14  174.83  23.31  151.52
1  31070-3-7       RB   Knee  44.08  32.14  175.09  20.18  154.91
2  31070-3-7       RB   Knee  44.08  32.14  175.35  16.53  158.82
3  31070-3-7       RB   Knee  44.08  32.14  175.60  13.23  162.37
4  31070-3-7       RB   Knee  44.08  32.14  175.82   9.78  166.04

In [53]:
All_Injuries = ngs_merge.append(merged_inj)

In [54]:
All_Injuries.shape

(10682376, 8)

In [55]:
All_Injuries.isna().sum()

PlayKey          0
Position    790245
Injury           0
x                0
y                0
o                0
dir              0
Twist            0
dtype: int64

In [56]:
All_Injuries = All_Injuries.loc[All_Injuries.Position.isna() == False]

In [57]:
All_Injuries.shape

(9892131, 8)

In [58]:
All_Injuries.isna().sum()

PlayKey     0
Position    0
Injury      0
x           0
y           0
o           0
dir         0
Twist       0
dtype: int64

In [ ]:
All_Injuries.to_csv("NFL_Punt/All_Injuries.csv", index=False)